#logo
{
    height: 100px;
    width: 100px;
    margin-left: 900px;
}

#barra
{
    margin-top: 20px;
}

#barra2
{
    margin-top: 20px;
    margin-right: 450px;
}

.fondo {
 
   background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    z-index: 1;
}


#clock {
    font-size: 3em;
    font-family: 'Righteous', cursive;

    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
    width: 230px; 
     height: 100px; 
     background: transparent;
     position: relative;
     left: 850px;
     margin-top: 200px;
  }
  #day {
    font-size: 3em;
    font-family: 'Righteous', cursive;

    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
    width: 230px; 
     height: 100px; 
     background: transparent;
     position: relative;
     left: 815px;
     margin-top: -30px;
  }
  #boton {
    font-size: 2em;
    font-family: 'Righteous', cursive;

    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
    width: 230px; 
     height: 100px; 
     background: transparent;
     position: relative;
     margin-left: 854px;
     margin-top: 8px;
  }

  #text {
       font-size: 2em;
    font-family: 'Righteous', cursive;
    color: white;
    position: relative;
     left: 770px;
     margin-top: -560px;
  }

  #b{
    display: none;
  }
  