.mfk-keyboard.peach
{
    background-color: #f5d8bc;
}
.mfk-keyboard.peach .mfk-key
{
    background-color: #e2806c;
    color: #fff;
    border: solid 1px #f6be84;
    border-radius: 5px;
}
.mfk-keyboard.peach .mfk-key:hover
{
    background-color: #fff;
    color: #f6be84;
}
.mfk-keyboard.peach .mfk-key-down
{
    transform: scale(0.9,0.9);
}