.KeyboardKey
{
     border-radius: 6px;
	 background: #706f6d;
	 color: #252120;
	 border-color: #4b4d4a;
	 border-width: 3px;
}

.KeyboardKeyDown
{
	 border-width: 4px;
	 background: #595857;
}

.Keyboard
{
     background: #2b2b2b;
}